<ion-header>
  <ion-toolbar>
    <ion-title>Warehouse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="inventory" src="assets/imgs/inventory.jpg" alt="Couldn't Load Image" routerLink='inventory' routerDirection="forward"><br>
    <center><ion-label>Inventory</ion-label></center>
  </ion-card>
  <ion-card>
    <img class="in" src="assets/imgs/in.jpg" alt="Couldn't Load Image" routerLink='stockin' routerDirection="forward"><br>
    <center><ion-label>Stock In</ion-label></center>
  </ion-card>
  <ion-card>
    <img class="out" src="assets/imgs/out.png" alt="Couldn't Load Image" routerLink='stockout' routerDirection="forward"><br>
    <center><ion-label>Add Truck</ion-label></center>
  </ion-card>
</ion-content>
