<ion-header>
  <ion-toolbar>
    <ion-title>Truck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="inventory" src="assets/imgs/inventory.jpg" alt="Couldn't Load Image" routerLink='truckinventory' routerDirection="forward"><br>
    <center><ion-label>Truck Inventory</ion-label></center>
  </ion-card>
  <ion-card>
    <img class="out" src="assets/imgs/out.png" alt="Couldn't Load Image" routerLink='truckstockout' routerDirection="forward"><br>
    <center><ion-label>Stock Out</ion-label></center>
  </ion-card>
</ion-content>
