<ion-header>
  <ion-toolbar>
    <ion-title>Stockout in Truck</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Item Code</ion-label>
        <ion-input Name="code" enterkeyhint="search"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stocks</ion-label>
        <ion-input Name="stocks" type='number'></ion-input>
      </ion-item>
      <br />
        <center>
            <ion-button type="submit" expand="full" fill="solid" color="success" >TRANSACT ITEM</ion-button>
        </center>
      <br>
    </ion-card>  
    </form>
</ion-content>
