ion-card img:hover {
    border: 3px solid red;
  }
  
  
  
  ion-card img{
  border: 1px solid #ccc;
  width: 340px;
  border-radius: 7%;
  }
  
  ion-label{
  font-size: 20px;
  margin-bottom: 40px;
  }